<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/css" type="text/css" />
		<title>Eat-Da-Burger!!!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
	<script>
		$(".eat-button").on("click", function(event) {
			event.preventDefault();
			var id = $(this).data("id");
			var burgerState = {
				devoured: true
			};

			$.ajax("/api/burgers/" + id, {
				type: "PUT",
				data: burgerState
    		}).then(function() {
				console.log("the burger has been eaten!");
				// Reload the page to get the updated list
				location.reload();
				}
			);

		});

		$(".cook-form").on("submit", function(event) {
			event.preventDefault();
			if ($("#new-burger").val() !== "") {
				var newBurg = {
					burger_name: $("#new-burger").val().trim(),
					devoured: 0
				};

				$.ajax("/api/burgers", {
					type: "POST",
					data: newBurg
				}).then(function() {
					console.log("new burger coming up!");
					location.reload();
				});
			}
		});
	</script>
</html>